

.second-page{
    text-align: center;
    color: white;
}
.second-page .first-div{
    padding-top: 50px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.iphone-pro{
    width: 100%;
    height: 450px;
    background: url("./assets/images/home/iphone11-pro-bg.jpg") no-repeat center;
    background-size: 220%;
    background-position: bottom; 
}
.pro-desc2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.3;
}
#pro-name2 {
    padding-bottom: 10px;
}

/* Mobile and tab view for the second and third page sections */
@media (max-width: 1000px) {
    .iphone-pro, .iphone-11{
        background-size: 250%;
        height: 450px;
    }
    .second-page .first-div {
        padding-top: 40px;
    }
    .pro-desc2 {
        font-size: 28px;
    }
}
@media (max-width: 800px) {
    .iphone-pro, .iphone-11{
        background-size: 300%;
        height: 400px;
    }
    .second-page .first-div {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .pro-desc2 {
        font-size: 24px;
    }
}
@media (max-width: 600px) {
    .iphone-pro, .iphone-11{
        background-size: 350%;
        height: 350px;
    }
    .second-page .first-div {
        padding-top: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .pro-desc2 {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .iphone-pro, .iphone-11{
        background-size: 400%;
        height: 300px;
    }
    .second-page .first-div {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .pro-desc2 {
        font-size: 18px;
    }
}