*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}


.second-page{
    text-align: center;
    color: white;
}
.second-page .first-div{
    padding-top: 50px;
    background-color: black;
}
.iphone-pro{
    width: 100%;
    height: 450px;
    background: url("./assets/images/home/iphone11-pro-bg.jpg") no-repeat center;
    background-size: 220%;
    background-position: bottom; 
}
.pro-desc2 {
    font-size: 32px;
    font-weight: normal;
}
#pro-name2 {
    padding-bottom: 10px;
}
